<a href="https://colab.research.google.com/github/juacho230/PROGCOM-A/blob/main/Puntos_25_30_Juan_Llerena.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#25 Calcular la potencia de un número sin usar **

def potencia(base, exponente):
    resultado = 1
    for _ in range(abs(exponente)):
        resultado *= base
    return resultado if exponente >= 0 else 1 / resultado

print(potencia(2, 3))  # 8
print(potencia(5, -2)) # 0.04

8
0.04

In [6]:
potencia_lambda = lambda base, exp: (lambda res=1: res if exp == 0 else res * base if exp > 0 else 1 / res)(sum([base for _ in range(abs(exp))]))

print(potencia_lambda(2, 3))  # 8
print(potencia_lambda(5, -2)) # 0.04

12
0.1

In [1]:
#26 Mostrar todas las tablas de multiplicar del 1 al 10

def mostrar_tablas():
    for i in range(1, 11):
        print(f"Tabla del {i}:")
        for j in range(1, 11):
            print(f"{i} x {j} = {i * j}")
        print()

mostrar_tablas()

Tabla del 1:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Tabla del 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Tabla del 3:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Tabla del 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Tabla del 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Tabla del 6:
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

Tabla del 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Tabla del 8:
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

Tabla del 9:
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

Tabla del 10:
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [2]:
tabla_lambda = lambda x: [f"{x} x {i} = {x * i}" for i in range(1, 11)]
[print("\n".join(tabla_lambda(n)), "\n") for n in range(1, 11)]

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

[None, None, None, None, None, None, None, None, None, None]

In [7]:
#27 Encontrar todos los números perfectos hasta n

def es_perfecto(num):
    return sum([i for i in range(1, num) if num % i == 0]) == num

def numeros_perfectos(n):
    return [x for x in range(1, n + 1) if es_perfecto(x)]

print(numeros_perfectos(10000))  # Prueba con un número grande

[6, 28, 496, 8128]

In [8]:
es_perfecto_lambda = lambda num: sum(filter(lambda i: num % i == 0, range(1, num))) == num
numeros_perfectos_lambda = lambda n: list(filter(es_perfecto_lambda, range(1, n+1)))

print(numeros_perfectos_lambda(10000))

[6, 28, 496, 8128]

In [3]:
#28 Generar un patrón de diamante con asteriscos

def diamante(n):
    for i in range(1, n+1, 2):
        print(" " * ((n - i) // 2) + "*" * i)
    for i in range(n-2, 0, -2):
        print(" " * ((n - i) // 2) + "*" * i)

diamante(7)

   *
  ***
 *****
*******
 *****
  ***
   *

In [4]:
diamante_lambda = lambda n: "\n".join([" " * ((n - i) // 2) + "*" * i for i in list(range(1, n+1, 2)) + list(range(n-2, 0, -2))])
print(diamante_lambda(7))

   *
  ***
 *****
*******
 *****
  ***
   *

In [9]:
#29 Encontrar los números Armstrong hasta n

def es_armstrong(num):
    return num == sum(int(digit) ** len(str(num)) for digit in str(num))

def numeros_armstrong(n):
    return [x for x in range(1, n+1) if es_armstrong(x)]

print(numeros_armstrong(10000))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 153, 370, 371, 407, 1634, 8208, 9474]

In [10]:
es_armstrong_lambda = lambda num: num == sum(int(d) ** len(str(num)) for d in str(num))
numeros_armstrong_lambda = lambda n: list(filter(es_armstrong_lambda, range(1, n+1)))

print(numeros_armstrong_lambda(10000))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 153, 370, 371, 407, 1634, 8208, 9474]

In [13]:
#30 Simular un reloj digital mostrando horas, minutos y segundos

import time

def reloj(segundos):
    for s in range(segundos):
        hrs, mins, secs = s // 3600, (s % 3600) // 60, s % 60
        print(f"{hrs:02}:{mins:02}:{secs:02}", end="\r")
        time.sleep(1)

reloj(10)  # Simula 10 segundos

In [12]:
import time

reloj_lambda = lambda segundos: [print(f"{s//3600:02}:{(s%3600)//60:02}:{s%60:02}", end="\r") or time.sleep(1) for s in range(segundos)]

reloj_lambda(10)

[None, None, None, None, None, None, None, None, None, None]